@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url('img/background-image/bg-3.jpg');
    background-size: cover; 
    color: #ededed;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #081b296d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    backdrop-filter: blur(10px);
}

.logo {
    text-decoration: none;
    font-size: 25px;
    color: white;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: #00abf0;
}

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 600px;
    /* text-align: justify; */
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.home-content p {
    font-size: 16px;
    margin: 20px 0 40px;
}


.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover {
    color: #00abf0;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #ededed;
}

.btn-box a:nth-child(2):hover {
    color: #081b29;
}

.btn-box a:nth-child(2)::before {
    background: #00abf0;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.wallpaper {
    margin-left: 300px;
    margin-right: 10vh;
    border-radius: 30px;
    height: 500px;
    width: 500px;
    border: 1px solid #fff;
    border-radius: 40px; 
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5), 
                0 0 30px rgba(255, 255, 255, 0.5), 
                0 0 45px rgba(255, 255, 255, 0.5), 
                0 0 60px rgba(255, 255, 255, 0.5); 
}      

.fav {
    content: 100px;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.fade {
    animation: fadeout 1s;
    transition: visibility 0s 2s;
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: white; */
    z-index: 1000;
}

.box {
    background-color: rgba(0, 13, 48, 0.7);
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-color: rgb(5, 64, 80);
}

.proj-title h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    color: #ffffff;
}

.project-figure {
    text-align: center;
    margin-bottom: 15px;
}

.project-img {
    max-width: 65%;
    height: auto;
    border-radius: 10px;
}

.box p {
    font-size: 1rem;
    line-height: 1.6;
    color: #ffffff;
}

.box h1 {
    font-size: 1.25rem;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #ffffff;
}

.box li {
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 1rem;
}

        /* General Styling */
        a {
            color: white;
        }

        /* Container Sections */
        .sections {
            display: flex;
            flex-wrap: wrap;
        }

        .about {
            height: 100vh;
            padding: 100px;
        }

        .about h1 {
            font-size: 4rem;
            margin-bottom: 20px;
            font-weight: 700;
        }